<mat-toolbar color="primary" class="navbar" role="banner">
  <button mat-icon-button type="button" aria-label="Abrir menu" (click)="onToggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="navbar__brand">TesteFull</span>
  <span class="navbar__divider" aria-hidden="true"></span>

  <span class="navbar__spacer"></span>

  <span class="navbar__framework">Angular</span>

  <span class="navbar__spacer"></span>

  <a mat-icon-button href="http://localhost:8084/swagger/nestjs" target="_blank" rel="noreferrer" aria-label="API Docs">
    <mat-icon>description</mat-icon>
  </a>
</mat-toolbar>
